@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
*{
  border: 0;
  padding:0;
  margin:0;
}
body{
  background-color: #FAF6F3;
}
